page-contact-list {
  .img-container {
    text-align: center;
    img {
      width: 100px;
    }
  }
  .offline {
    text-align: center;
    padding: 10px;
    background-color: #EF2D56;

    span {
      color: #fff;
      font-weight: bold;
    }
  }
  .unsync{
    color: #929292;
  }
}
