page-contact-detail {
  .header-image {
    background-image: url('../assets/header-img.png');
    height: 40vh;
  }
  .main-content {
    width: 100vw;
    background-color: white;
  }
  .img-item {
    text-align: center;
    padding-top: 8vh;
    .img-container {
      border-radius: 50%;
      border: 4px solid #41506B;
      width: 140px;
      height: 140px;
      overflow: hidden;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
    }
  }
}
